@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #800020;
  color: white;
}

.custom-selection-1::selection {
  background-color: #6d63ff;
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

.custom-selection-2::selection {
  background-color: #800020;
  color: white;
}

.custom-selection-3::selection {
  background-color: var(--color-gray-800);
  color: white;
}
